{
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "proseWrap": "always",
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml", "*rc", "*.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
